body{
    background-color: aliceblue;
    margin: 0px;
}
h1{
    color: darkslateblue;
}

h2{
    color: darkslateblue;
/*    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;*/
}

h3,h4,h5,h6{
    color: darkslateblue;
    font-weight: bold;
}

dt{
    font-weight: bold;
}

div#main{
    margin-left: 25%;
    padding: 1px 16px;
}

nav{
/*
    background-color: gainsboro;    
    padding-left: 0px;
    padding-top: 20px;    
*/
}
ul#nav{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background-color: #f1f1f1;
    border: 1px solid #555;
    text-align: center;
}

li a#nav{
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid black
}

li a.active{
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active){
    background-color: #555;
    color: white;
}

button#on_page{
    background-color: darkblue;
}

button{
    font-size: 125%;
    color: white;
    background-color: dimgray;
    padding: 5px;
    margin: 5px;
}

p{
    border: 2 px solid yellow;
}

article{
    background-color: antiquewhite;
    border: 2px solid green;
}

footer{
    display: block;
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background-color: darkblue;
}

#footer_text{
    color: floralwhite;
    float: left;
}

#Logo{
    width: 175px;
    float: left;
}

#Guitar{
    width:150px;
    float:right
}

#Interests{
    height:100px;
    float:right;
    padding: 5px;
}